--- drivers/staging/comedi/Kconfig
+++ drivers/staging/comedi/Kconfig
@@ -424,6 +424,7 @@
 
 config COMEDI_NI_AT_A2150
 	tristate "NI AT-A2150 ISA card support"
+	select COMEDI_FC
 	depends on COMEDI_NI_COMMON
 	depends on VIRT_TO_BUS
 	default N
